
/* استایل‌های اصلی */

body{
    background-color: #e8e8e8;
    padding: 0%;
    margin: 0%;
}

.slider-container {
    font-family: modam;
    position: relative;
    width: 95%;
    height: auto;
    margin: 20px auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
    user-select: none;
    padding: 10px;
    width: 100%;
    max-width: 1500px;
    height: auto;
    direction: rtl;

}

.product-card {
    min-width: 160px;
    max-width: 160px;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 5px;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease;
}
    
.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    width: auto;
    max-height: 220px;
    min-height: 220px;
    max-width: 160px;
    min-width: 160px;
    object-fit: cover;
    border-radius: 5px;
    margin-top: 0px;
}

.product-card p {
    font-size: 14px;
    color: #555;
    margin: 2px 0;
    text-align: left;
}

.view-details {
    display: block;
    background-color: #27272a;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 3px;
}

.view-details:hover {
    background-color: #313131;
}

 #discount {
    padding: 2px;
    background-color: #27272a;
    color: #fff;
    max-width: 38px;
    font-size: 10px;
    text-align: center;
    border-radius: 2px;
    direction: rtl;
    float: right;

}

.slider::-webkit-scrollbar {
    display: none;
}

.search-show{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    
}

.search-show h3{
    color: #313131;

}