/* تنظیمات کلی */
body {
    font-family: modam;
    background-color: #e8e8e8;
    margin: 0%;
    padding: 0%;
}

.translator-container {
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 1100px;
    align-items: center;
    margin: 10px auto;
    direction: rtl;
}

/* اطلاعات مترجم */
.translator-info {
    flex: 2;
    padding-right: 20px;
    
}



.translator-items {
    display: grid;
    max-width: 1000px;
    align-items: center;
    justify-content: space-between;


}

.translator-info strong {
    font-weight: bold;
    color: #555;
}

/* بخش تصویر مترجم */
.translator-image {
    width: 200px;
    height: 300px;
}

.translator-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* استایل برای لینک‌ها */



@media screen and (max-width: 480px) {
    .translator-container  {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 80%;
    }
    .translator-info {
        padding-right: 0;
        font-size: 12px;
        text-align: right;
    }
    .translator-image {
        width: 150px;
        height: 150px;
        background-size: cover;
    }
    #translator-bio{
        max-width: 400px;
        height: auto;
        font-size: 12px;
    }
}