body {
    font-family: modam;
    background-color: #e8e8e8;
    margin: 0px;
    padding: 0px;
    background: #eee;
    color: #000;
}




.menu-hidden {
    transform: translateX(100%);
}

.menu-visible {
    transform: translateX(0);
}

#links {
    text-align: center;
    font-weight: 2;
}

#links:hover {
    background-color: #303f55;
}

.container {
    margin: 0 auto;
    padding: 1rem;
}

h1 {
    text-align: right;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}



@media (max-width: 480px) {

    .banner input {
        width: 96%;
        margin-top: 10px;
        margin-bottom: 20px;
        direction: rtl;
    }
    .banner-link img {
        max-height: 50px;
    }


    .section-header h2 {
        font-size: 1.5rem;
        margin: 0;
    }


}







.category-section {

    width: 100%;
    height: 100px; /* ارتفاع مناسب */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

/* استایل متن */
.category-title {
    font-size: 24px;
    font-weight: bold;
    color: #0a0a0a;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    font-family: modam;
}



 /* استایل بنر */

 
.banner  {
    width: 100%;
    height: 400px;
    background-size: cover; /* یا contain */
    background-position: center;
    background-image: url('image/slide4.jpg');
}


@media (max-width:720px) {

    .banner  {
    width: 100%;
    height: 300px;
    background-size: cover;
    display: block;
    background-image: url(image/slide3.jpg);
}
}

/* استایل سکشن‌ها */
.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
    max-width: 1500px;
    margin: 20px auto;
    direction: rtl;
}

.view-all {
    color: #e8e8e8;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s ease;
    background-color: #27272a;
    padding: 10px;
    border-radius: 5px;
}

.view-all:hover {
    background-color: #313131;
}

@media (max-width: 480px) {
    .section-header h2 {
        font-size: 10px;
    }
}




